In [12]:
import os 
import pandas as pd
import numpy as np

In [40]:
# merge only cities that we have the weather data for

cities = [x for x in os.listdir("../weather") if '.csv' in x and 'merged' not in x]

dfs = []
for city_file in cities:
    city_df = pd.read_csv(city_file)    
    city_fullname = pd.read_csv(f'../weather/{city_file}')['name'].iloc[0]
    
    city_df['city'] = city_fullname
    city_df['date'] = city_df['date'].apply(lambda t: t.replace("/", '-'))
    dfs.append(city_df)
    
df = pd.concat(dfs)

# replace empty strings with nan
df = df.replace(r'^\s*$', np.nan, regex=True)

df.columns = [x.strip() for x in df.columns]

df.head()

       date pm10   o3  no2 so2   co           city pm25
0  2023-1-2   23   18  NaN   3  NaN  bielsko biała  NaN
1  2023-1-3   25   27    7   2  NaN  bielsko biała  NaN
2  2023-1-4   19   24    4   1  NaN  bielsko biała  NaN
3  2023-1-5    9   20    3   1  NaN  bielsko biała  NaN
4  2023-1-6   13   17  NaN   2  NaN  bielsko biała  NaN

In [41]:
df.count()

date    22362
pm10    16760
o3      13274
no2     19453
so2     12150
co      11948
city    22362
pm25    14134
dtype: int64

In [42]:
df.to_csv('air_quality_merged.csv', index=False)