## <span style="color:#ff5f27;"> üì° Connecting to Hopsworks Feature Store </span>

In [1]:
import hopsworks

project = hopsworks.login()

fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Multiple projects found.

	 (1) ID2223_Ernest
	 (2) ID2223_Anton

Enter project to access: 1

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/5476
Connected. Call `.close()` to terminate connection gracefully.

In [2]:
air_quality_fg = fs.get_or_create_feature_group(
    name = 'poland_air_quality_fg',
    version = 1
)
weather_fg = fs.get_or_create_feature_group(
    name = 'poland_weather_fg',
    version = 1
)

In [3]:
query = air_quality_fg.select_all().join(weather_fg.select_all())

In [4]:
query.read()

2023-01-12 19:45:16,610 INFO: USE `id2223_ernest_featurestore`
2023-01-12 19:45:17,200 INFO: WITH right_fg0 AS (SELECT *
FROM (SELECT `fg1`.`date` `date`, `fg1`.`pm10` `pm10`, `fg1`.`o3` `o3`, `fg1`.`no2` `no2`, `fg1`.`so2` `so2`, `fg1`.`co` `co`, `fg1`.`city` `city`, `fg1`.`pm25` `pm25`, `fg1`.`date` `join_pk_date`, `fg1`.`city` `join_pk_city`, `fg1`.`date` `join_evt_date`, `fg0`.`tempmax` `tempmax`, `fg0`.`tempmin` `tempmin`, `fg0`.`temp` `temp`, `fg0`.`feelslikemax` `feelslikemax`, `fg0`.`feelslikemin` `feelslikemin`, `fg0`.`feelslike` `feelslike`, `fg0`.`dew` `dew`, `fg0`.`humidity` `humidity`, `fg0`.`precip` `precip`, `fg0`.`precipprob` `precipprob`, `fg0`.`precipcover` `precipcover`, `fg0`.`snow` `snow`, `fg0`.`snowdepth` `snowdepth`, `fg0`.`windgust` `windgust`, `fg0`.`windspeed` `windspeed`, `fg0`.`winddir` `winddir`, `fg0`.`cloudcover` `cloudcover`, `fg0`.`visibility` `visibility`, `fg0`.`solarradiation` `solarradiation`, `fg0`.`solarenergy` `solarenergy`, `fg0`.`uvindex` `uvindex`, `fg0`.`conditions` `conditions`, RANK() OVER (PARTITION BY `fg0`.`date`, `fg0`.`city`, `fg1`.`date` ORDER BY `fg0`.`date` DESC) pit_rank_hopsworks
FROM `id2223_ernest_featurestore`.`poland_air_quality_fg_1` `fg1`
INNER JOIN `id2223_ernest_featurestore`.`poland_weather_fg_1` `fg0` ON `fg1`.`date` = `fg0`.`date` AND `fg1`.`city` = `fg0`.`city` AND `fg1`.`date` >= `fg0`.`date`) NA
WHERE `pit_rank_hopsworks` = 1) (SELECT `right_fg0`.`date` `date`, `right_fg0`.`pm10` `pm10`, `right_fg0`.`o3` `o3`, `right_fg0`.`no2` `no2`, `right_fg0`.`so2` `so2`, `right_fg0`.`co` `co`, `right_fg0`.`city` `city`, `right_fg0`.`pm25` `pm25`, `right_fg0`.`tempmax` `tempmax`, `right_fg0`.`tempmin` `tempmin`, `right_fg0`.`temp` `temp`, `right_fg0`.`feelslikemax` `feelslikemax`, `right_fg0`.`feelslikemin` `feelslikemin`, `right_fg0`.`feelslike` `feelslike`, `right_fg0`.`dew` `dew`, `right_fg0`.`humidity` `humidity`, `right_fg0`.`precip` `precip`, `right_fg0`.`precipprob` `precipprob`, `right_fg0`.`precipcover` `precipcover`, `right_fg0`.`snow` `snow`, `right_fg0`.`snowdepth` `snowdepth`, `right_fg0`.`windgust` `windgust`, `right_fg0`.`windspeed` `windspeed`, `right_fg0`.`winddir` `winddir`, `right_fg0`.`cloudcover` `cloudcover`, `right_fg0`.`visibility` `visibility`, `right_fg0`.`solarradiation` `solarradiation`, `right_fg0`.`solarenergy` `solarenergy`, `right_fg0`.`uvindex` `uvindex`, `right_fg0`.`conditions` `conditions`
FROM right_fg0)

,date,pm10,o3,no2,so2,co,city,pm25,tempmax,tempmin,...,snowdepth,windgust,windspeed,winddir,cloudcover,visibility,solarradiation,solarenergy,uvindex,conditions
0,1672527600000,13.0,20.0,NaN,2.0,NaN,bielsko bia≈Ça,NaN,17.7,9.1,...,0.0,46.5,35.4,199.8,73.3,45.6,10.7,0.9,1,Partially cloudy
1,1672527600000,50.0,NaN,23.0,2.0,NaN,cracow,106.0,15.0,3.1,...,0.0,43.2,10.3,201.1,81.1,14.9,80.8,6.9,7,Partially cloudy
2,1672527600000,15.0,27.0,10.0,NaN,NaN,gda≈Ñsk,37.0,14.4,8.9,...,0.0,65.5,27.9,232.7,85.1,32.2,11.5,1.0,1,"Rain, Partially cloudy"
3,1672527600000,22.0,14.0,12.0,3.0,NaN,katowice,46.0,15.6,8.4,...,0.0,43.2,21.6,216.6,77.5,29.3,29.5,2.5,2,Partially cloudy
4,1672527600000,39.0,NaN,19.0,NaN,NaN,warsaw,41.0,18.3,11.9,...,0.0,57.6,21.8,232.0,79.2,20.4,86.9,2.8,2,Partially cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2221,1640991600000,14.0,17.0,NaN,7.0,NaN,bia≈Ça podlaska,NaN,9.4,2.7,...,0.0,50.4,22.4,303.9,95.7,27.3,14.8,1.3,1,"Rain, Overcast"
2222,1640991600000,13.0,14.0,18.0,2.0,7.0,cracow,55.0,10.8,9.0,...,0.0,24.6,25.1,246.6,93.1,10.5,19.8,1.6,1,"Rain, Overcast"
2223,1640991600000,10.0,27.0,3.0,1.0,3.0,gda≈Ñsk,28.0,6.6,3.1,...,0.0,44.7,21.2,306.0,97.8,21.7,4.7,0.4,0,"Rain, Overcast"
2224,1640991600000,13.0,NaN,11.0,NaN,5.0,warsaw,29.0,10.0,4.5,...,0.0,46.8,27.2,294.9,90.9,17.3,36.6,1.1,1,"Rain, Overcast"
2225,1640991600000,NaN,NaN,16.0,NaN,3.0,wroclaw,48.0,11.9,9.2,...,0.0,46.2,27.2,288.4,91.7,16.4,5.5,0.3,0,"Rain, Overcast"

--- 

## <span style="color:#ff5f27;"> üñç Feature View Creation and Retrieving </span>

In [5]:
query = air_quality_fg.select_all().join(weather_fg.select_all())

query_show = query.show(5)
col_names = query_show.columns

                                         
query_show

2023-01-12 19:45:51,206 INFO: USE `id2223_ernest_featurestore`
2023-01-12 19:45:51,666 INFO: WITH right_fg0 AS (SELECT *
FROM (SELECT `fg1`.`date` `date`, `fg1`.`pm10` `pm10`, `fg1`.`o3` `o3`, `fg1`.`no2` `no2`, `fg1`.`so2` `so2`, `fg1`.`co` `co`, `fg1`.`city` `city`, `fg1`.`pm25` `pm25`, `fg1`.`date` `join_pk_date`, `fg1`.`city` `join_pk_city`, `fg1`.`date` `join_evt_date`, `fg0`.`tempmax` `tempmax`, `fg0`.`tempmin` `tempmin`, `fg0`.`temp` `temp`, `fg0`.`feelslikemax` `feelslikemax`, `fg0`.`feelslikemin` `feelslikemin`, `fg0`.`feelslike` `feelslike`, `fg0`.`dew` `dew`, `fg0`.`humidity` `humidity`, `fg0`.`precip` `precip`, `fg0`.`precipprob` `precipprob`, `fg0`.`precipcover` `precipcover`, `fg0`.`snow` `snow`, `fg0`.`snowdepth` `snowdepth`, `fg0`.`windgust` `windgust`, `fg0`.`windspeed` `windspeed`, `fg0`.`winddir` `winddir`, `fg0`.`cloudcover` `cloudcover`, `fg0`.`visibility` `visibility`, `fg0`.`solarradiation` `solarradiation`, `fg0`.`solarenergy` `solarenergy`, `fg0`.`uvindex` `uvindex`, `fg0`.`conditions` `conditions`, RANK() OVER (PARTITION BY `fg0`.`date`, `fg0`.`city`, `fg1`.`date` ORDER BY `fg0`.`date` DESC) pit_rank_hopsworks
FROM `id2223_ernest_featurestore`.`poland_air_quality_fg_1` `fg1`
INNER JOIN `id2223_ernest_featurestore`.`poland_weather_fg_1` `fg0` ON `fg1`.`date` = `fg0`.`date` AND `fg1`.`city` = `fg0`.`city` AND `fg1`.`date` >= `fg0`.`date`) NA
WHERE `pit_rank_hopsworks` = 1) (SELECT `right_fg0`.`date` `date`, `right_fg0`.`pm10` `pm10`, `right_fg0`.`o3` `o3`, `right_fg0`.`no2` `no2`, `right_fg0`.`so2` `so2`, `right_fg0`.`co` `co`, `right_fg0`.`city` `city`, `right_fg0`.`pm25` `pm25`, `right_fg0`.`tempmax` `tempmax`, `right_fg0`.`tempmin` `tempmin`, `right_fg0`.`temp` `temp`, `right_fg0`.`feelslikemax` `feelslikemax`, `right_fg0`.`feelslikemin` `feelslikemin`, `right_fg0`.`feelslike` `feelslike`, `right_fg0`.`dew` `dew`, `right_fg0`.`humidity` `humidity`, `right_fg0`.`precip` `precip`, `right_fg0`.`precipprob` `precipprob`, `right_fg0`.`precipcover` `precipcover`, `right_fg0`.`snow` `snow`, `right_fg0`.`snowdepth` `snowdepth`, `right_fg0`.`windgust` `windgust`, `right_fg0`.`windspeed` `windspeed`, `right_fg0`.`winddir` `winddir`, `right_fg0`.`cloudcover` `cloudcover`, `right_fg0`.`visibility` `visibility`, `right_fg0`.`solarradiation` `solarradiation`, `right_fg0`.`solarenergy` `solarenergy`, `right_fg0`.`uvindex` `uvindex`, `right_fg0`.`conditions` `conditions`
FROM right_fg0)

,date,pm10,o3,no2,so2,co,city,pm25,tempmax,tempmin,...,snowdepth,windgust,windspeed,winddir,cloudcover,visibility,solarradiation,solarenergy,uvindex,conditions
0,1672527600000,13.0,20.0,NaN,2.0,NaN,bielsko bia≈Ça,NaN,17.7,9.1,...,0.0,46.5,35.4,199.8,73.3,45.6,10.7,0.9,1,Partially cloudy
1,1672527600000,50.0,NaN,23.0,2.0,NaN,cracow,106.0,15.0,3.1,...,0.0,43.2,10.3,201.1,81.1,14.9,80.8,6.9,7,Partially cloudy
2,1672527600000,15.0,27.0,10.0,NaN,NaN,gda≈Ñsk,37.0,14.4,8.9,...,0.0,65.5,27.9,232.7,85.1,32.2,11.5,1.0,1,"Rain, Partially cloudy"
3,1672527600000,22.0,14.0,12.0,3.0,NaN,katowice,46.0,15.6,8.4,...,0.0,43.2,21.6,216.6,77.5,29.3,29.5,2.5,2,Partially cloudy
4,1672527600000,39.0,NaN,19.0,NaN,NaN,warsaw,41.0,18.3,11.9,...,0.0,57.6,21.8,232.0,79.2,20.4,86.9,2.8,2,Partially cloudy

In [6]:
category_cols = ['city','date','conditions','aqi']

mapping_transformers = {col_name:fs.get_transformation_function(name='standard_scaler') for col_name in col_names if col_name not in category_cols}
category_cols = {col_name:fs.get_transformation_function(name='label_encoder') for col_name in category_cols if col_name not in ['date','aqi']}

mapping_transformers.update(category_cols)

In [7]:
feature_view = fs.create_feature_view(
    name = 'poland_air_quality_fv',
    version = 1,
    transformation_functions = mapping_transformers,
    query = query
)

Feature view created successfully, explore it at
https://c.app.hopsworks.ai:443/p/5476/fs/5383/fv/poland_air_quality_fv/version/1

For now `Feature View` is saved in Hopsworks and you can retrieve it using `FeatureStore.get_feature_view()`.

In [8]:
feature_view = fs.get_feature_view(
    name = 'poland_air_quality_fv',
    version = 1
)

In [9]:
feature_view.create_training_data()

Training dataset job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/5476/jobs/named/poland_air_quality_fv_1_1_create_fv_td_12012023184740/executions

VersionWarning: Incremented version to `1`.

(1, <hsfs.core.job.Job at 0x7ff66b368130>)

## <span style="color:#ff5f27;">‚è≠Ô∏è **Next:** Part 04 </span>

In the next notebook you will train a model on the dataset, that was created in this notebook.